<div id="motorPanel" class="col-sm-6">
    <div class="panel panel-default" data-ng-controller="MotorCtrl as motoVM">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left" translate>Controls</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-body panel-height">
                <!-- replaceSVG --><data-ng-include src="'img/Controls.svg'"></data-ng-include><!-- /replaceSVG -->
            </div>
        </div>
<!--
        <div class="row">
          <div class="col-sm-12">
              <button class="btn btn-primary" data-ng-click="motoVM.motorsOff()" translate>Pause</button>
              <button class="btn btn-primary" data-ng-click="motoVM.motorsOff()" translate>Resume</button>
          </div>
        </div>
-->
        <div class="panel-footer">
            <div class="row">
                    <span translate>Speed:</span> XY:&nbsp;<input type="text" id="xy_velocity" data-ng-model="motoVM.xy_velocity" style="width: 40px;"/>&nbsp;mm/min&nbsp;
                    Z:&nbsp;<input type="text" data-ng-model="motoVM.z_velocity" style="width:40px">
                    <button class="btn btn-primary" data-ng-click="motoVM.motorsOff()" translate>Motors off</button>
            </div>
        </div>
    </div>
</div>
